[Unit]
Description=Daemon for driving non-wacom tablets from userspace

[Service]
Type=simple
ExecStart=/usr/bin/userspace_tablet_driver_daemon

[Install]
WantedBy=default.target
